.header-menu{
    margin-bottom: 0;
    text-align: right;

}
.header-menu li{
    display: inline-block;
}
.header-menu li a{ 
    display: inline-block;
    text-decoration: none;
    color: #163e66;
    font-size: 18px;
    padding: 0 10px;
}

.grid-1{
    border: 1px solid #ddd;
}
.grid-1 h3 {
	font-size: 20px;
	padding-bottom: 10px;
}

.about-img img{
    width: 100%;
}

.text-left {
	margin-left: 35px;
}